@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&family=Khand:wght@500;700&family=Palanquin&display=swap');
:root {
    --primary: #DD660D;
    --secondary: #4F0205;
    --accent: #E9E2C7;
    --primary-light: #EA9D64;
    --secondary-light: #9D3237;
    --accent-light: #FFFBEC;
    --primary-dark: #984100;
    --secondary-dark: #330002;
    --accent-dark: #C3BC9E;
    --gray100: #F9F0EA;
    --gray300: #CCBAAD;
    --gray500: #99877A;
    --gray700: #59493E;
    --gray900: #261C15; 
    --light-overlay: rgba (195,188,158,.20);
    --dark-overlay: rgba (18,1,2,.80);
}

body {
    margin:0;
    padding:0;
    background-color: var(--accent);
}

html {
    scroll-behavior: smooth; 
}

/* fonts */

h1 {
    font-family: 'Khand', sans-serif;
    font-weight: 700;
    font-size: 350px;
    letter-spacing: -3%;
    text-transform: uppercase;
    color: var(--primary);
    padding: 4em;
}

h2 {
    font-family: 'Flamenco', serif;
    font-weight: 400;
    font-size: 96px;
    color: var(--accent);
    line-height: 0.7em;
}

h3 {
    font-family: 'Khand', sans-serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 70%;
    margin: 0;
    color: var(--secondary-light);
}

h4 {
    font-family: 'Flamenco', serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 125%;
}

p {
    font-family: 'Palanquin', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

/* button */
button {
    margin: 0;
    padding: 2px 5px;
    color: var(--accent);
    background-color: var(--secondary-light);
    font-family: 'Khand', sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    border-radius: 2%;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary);
}

/* back button */

.back-btn a {
    font-size: 2em;
}
  
.back-btn {
    position: fixed; 
    right: 15px; 
    bottom: 15px; 
  }

/* titles */
/* .title-left {
    text-align: left;
    padding: 0;
    margin: 0;
    line-height: 30px;
} */

/* span {
    display: inline-block;

} */

/* .title-center {
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 0.7em;
} */

.title h1, h2{
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 0.7em;
}

/* navigation bar */
nav {
   background: var(--secondary-dark);
   position: sticky;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: right; 
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: var(--accent);
    font-family: 'Khand', sans-serif;
    font-size: 36px;
    font-weight: 500;
    padding: .5em;
    text-transform: uppercase;
}

nav a:hover {
    color: var(--primary)
}

.logo {
    display: flex;
    padding: 2%;
}

/* hero section */
.hero {
    background-image: url(images/hero-pic.jpg);
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-type {
    width: 60%;

}

.hero-type img {
    width: 100%;
}

/* what section */

.what-sec {
    background-image: url(images/what-pic.jpg);
    height: 100%;
    background-size: cover;
    padding: 10%;
}

.what-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background: var(--accent-dark);
    padding: 40px;
    margin: 40px 0;
}

.what-all-cards {
    display: flex;
    justify-content: center; 
    align-items: stretch;
    gap: 16px;
    /* margin: 100px; */
}


.what-card-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.what-card-icon {
    margin: 2em;
}

/* how section */
.how-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    height: 100%;
    padding: 10%;
}

.how-sec h2 {
    color: var(--secondary);
}

.words h4 {
    /* padding: 40px; */
    background-color: var(--accent-dark);
}

.video {
    margin: 0;
}

/* taste section */
.taste-sec {
    background-image: url(images/taste-pic.jpg);
    height: 100%;
    background-size: cover;
}

.taste-card {
    display: inline-flex;
    justify-content: left;
    background-color: var(--accent-dark); 
}

.taste-words {
    align-items: center;
    justify-content: center;
    padding-left: 2%;
}

.all-taste-cards {
    margin: 10%;
    gap: 16px;
}

/* brew section */
.brew-sec h2 {
    color: var(--secondary);
}

/* .all-brew-card {
    display: flex;
    justify-content: center; 
    align-items: stretch;
    gap: 16px;
    margin: 100px;
} */

/* .brew-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background: var(--accent-dark);
    padding: 40px;
} */

.all-brew-card {
    max-width: 1440px;
    margin: 0 auto;
}


.brew-card {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--accent-dark);
    padding: 40px;
    margin: 40px 0;
    /* display: flex; */
    align-items: center;
}


/* footer */
footer {
    background-color: var(--secondary-dark);
    padding: 10%;
    display: flex;
    align-items: center;
}

.footer-nav {
    display: flex;
    justify-content: center;
}

.social {
    display: inline-flex;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.rights {
    color: var(--accent-light);
    display: flex;
    justify-content: center;
}
.other-products {
    color: var(--accent-light);
}


