@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&family=Khand:wght@500;700&family=Palanquin&display=swap');
:root {
    --primary: #DD660D;
    --secondary: #4F0205;
    --accent: #E9E2C7;
    --primary-light: #EA9D64;
    --secondary-light: #9D3237;
    --accent-light: #FFFBEC;
    --primary-dark: #984100;
    --secondary-dark: #330002;
    --accent-dark: #C3BC9E;
    --gray100: #F9F0EA;
    --gray300: #CCBAAD;
    --gray500: #99877A;
    --gray700: #59493E;
    --gray900: #261C15; 
    --light-overlay: rgba (195,188,158,.20);
    --dark-overlay: rgba (18,1,2,.80);
}

body {
    margin:0;
    padding:0;
}
/* fonts */

h1 {
    font-family: 'Khand', sans-serif;
    font-weight: 700;
    font-size: 350px;
    letter-spacing: -3%;
    text-transform: uppercase;
    color: var(--primary);
}

h2 {
    font-family: 'Flamenco', serif;
    font-weight: 400;
    font-size: 96px;
    color: var(--accent);
}

h3 {
    font-family: 'Khand', sans-serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 80px;
    color: var(--secondary-light);
}

h4 {
    font-family: 'Flamenco', serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
}

p {
    font-family: 'Palanquin', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

/* navigation bar */
nav {
   background: var(--secondary-dark);
   position: sticky;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: right;
    
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: var(--accent);
    font-family: 'Khand', sans-serif;
    font-size: 36px;
    font-weight: 500;
    padding: .5em;
    text-transform: uppercase;
}

.logo {
    display: flex;
    padding: 2%;
}

/* hero section */
.hero {
    background-image: url(images/hero-pic.jpg);
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-type {
    width: 60%;

}

.hero-type img {
    width: 100%;
}

/* what section */
.title h1, h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.what-card {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 403px;
    height: 500px;
    background: var(--accent-dark);
    padding: 40px;
    margin: 16px;
}

.what-card h3, img {
    display: flex;
    justify-content: center;
    align-content: center;
}

.what-sec .what-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
